<div class="favs-container">

    <div class="page-header">
        <h1><i class="fa-solid fa-heart"></i> Mis Favoritos</h1>
        <p>Tu colección personal de animes guardados.</p>
        <div class="divider"></div>
    </div>

    @if (loading) {
    <div class="loading-state">
        <div class="spinner"></div>
        <p>Recuperando tu colección...</p>
    </div>
    }

    @if (!loading && favoritos.length === 0) {
    <div class="empty-state">
        <i class="fa-regular fa-folder-open empty-icon"></i>
        <h3>Tu lista está vacía</h3>
        <p>Ve al buscador o a inicio para añadir animes aquí.</p>
        <a routerLink="/" class="go-home-btn">Ir a explorar</a>
    </div>
    }

    @if (!loading && favoritos.length > 0) {
    <div class="anime-grid">
        @for (anime of favoritos; track $index) {

        <a [routerLink]="['/anime', anime.id]" class="card-link">
            <div class="anime-card" [style.--card-color]="anime.color">

                <div class="rating">★ {{ anime.score || 'N/A' }}</div>

                <button class="delete-btn" (click)="eliminarDeLista(anime.id, $event)">
                    <i class="fa-solid fa-trash"></i>
                </button>

                <img [src]="anime.image" [alt]="anime.title">

                <div class="card-info">
                    <h4>{{ anime.title }}</h4>
                    <div class="meta">
                        <span class="episodes"><i class="fa-solid fa-tv"></i> {{ anime.episodes || '?' }} Eps</span>
                    </div>
                </div>
            </div>
        </a>

        }
    </div>
    }

</div>