/* You can add global styles to this file, and also import other style files */
/* src/styles.css */

/* 1. Importar Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Nunito:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

/* 2. Variables Globales */
:root {
    --bg-main: #0f0c29;
    --text-white: #ffffff;
}

/* 3. Reset y Fondo Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);
    color: var(--text-white);
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
}